Django>=5.1.7
djangorestframework
psycopg2-binary
django-cors-headers
celery>=5.3
redis>=5.0
django-celery-beat>=2.5
django-celery-results>=2.4
gunicorn>=20.1
whitenoise>=6.0
requests
docling>=2.67.0
docling-core[chunking]>=2.59.0
djangorestframework-simplejwt
qdrant-client
qdrant-client[fastembed]
django-health-check[db,cache,storage]
channels
channels_redis
sqlalchemy
vanna[qdrant,openai,postgres]
kaleido
litellm
daphne
anthropic
pandas
openpyxl